.center {
  text-align: center;
}

#container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #8B4513; /* Brown background color */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#entryinput {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#entrybutton {
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #4CAF50;
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#entrybutton:hover {
  background-color: #45a049;
}
